body {
  color: var(--color-th-neutral-50);
  background: var(--color-th-neutral-900);
  font-family: 'Inter';
}
h1 { 
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 4.25rem;
  letter-spacing: -0.03em;
}
h2 {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.02em;
}
h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.01em;
}
h4 { /* subtitle */
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.01em;
}
button, .button {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0em;
}
p, ul, ol {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  padding-left: 1rem;
}
ul {
  list-style-type: disc;
  padding-left: 2.25rem;
}
ol {
  list-style-type: decimal;
  padding-left: 2rem;
}
li + li {
  margin-top: 0.25rem;
}
b {
  font-weight: 600;
}
label, .label {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
}
.badge {
  font-weight: 800;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
}