/* Slide down transition */
::view-transition-group(slide-down) {
  animation-duration: 0.9s;
  animation-timing-function: ease-in;
}

::view-transition-old(slide-down) {
  animation-name: slide-out-up;
  opacity: 1;
}

::view-transition-new(slide-down) {
  animation-name: slide-in-down;
}

/* Slide up transition */
::view-transition-group(slide-up) {
  animation-duration: 0.9s;
  animation-timing-function: ease-in;
}

::view-transition-old(slide-up) {
  animation-name: slide-out-down;
  opacity: 1;
}

::view-transition-new(slide-up) {
  animation-name: slide-in-up;
}

/* Slide left transition */
::view-transition-group(slide-left) {
  animation-duration: 0.9s;
  animation-timing-function: ease-in;
}

::view-transition-old(slide-left) {
  animation-name: slide-out-right;
  opacity: 1;
}

::view-transition-new(slide-left) {
  animation-name: slide-in-left;
}

/* Slide right transition */
::view-transition-group(slide-right) {
  animation-duration: 0.9s;
  animation-timing-function: ease-in;
}

::view-transition-old(slide-right) {
  animation-name: slide-out-left;
  opacity: 1;
}

::view-transition-new(slide-right) {
  animation-name: slide-in-right;
}


@keyframes slide-out-up {
  to {
    transform: translateY(-100svh);
    opacity: 0;
  }
}

@keyframes slide-in-down {
  from {
    transform: translateY(100svh);
  }
}

@keyframes slide-out-down {
  to {
    transform: translateY(100svh);
    opacity: 0;
  }
}

@keyframes slide-in-up {
  from {
    transform: translateY(-100svh);
  }
}

@keyframes slide-out-right {
  to {
    transform: translateX(100svw);
    opacity: 0;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100svw);
  }
}

@keyframes slide-out-left {
  to {
    transform: translateX(-100svw);
    opacity: 0;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100svw);
  }
}

