@import "tailwindcss";
@import "../styles/tailwindTheme.css";
@import "../styles/typography.css";
@import "../styles/darkMode.css";


body {
  background-color: var(--color-background);
  box-sizing: border-box;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 99px;
  background-color: var(--color-th-pink-500);
  color: var(--color-th-neutral-50);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
button:hover {
  background-color: var(--color-th-pink-600);
  transform: scale(1.02);
}

.badge {
  padding: 0.25rem 0.6rem;
  border-radius: 99px;
}
