@import "../styles/tailwindTheme.css";
@import "../styles/typography.css";
@import "../styles/darkMode.css";
@import "../styles/viewTransitions.css";

@keyframes bob {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(5deg); }
}

.animate-bob {
  animation: bob 2s ease-in-out infinite;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--color-background);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 99px;
  background-color: var(--color-th-pink-500);
  color: var(--color-th-neutral-50);
  border: none;
  cursor: pointer;
}

.badge {
  padding: 0.25rem 0.6rem;
  border-radius: 99px;
}

@import "tailwindcss";